@include ui(checkbox-switch) {
  @extend .ui-general;
  overflow: initial;
  border-radius: 100%;
  
  &.ui-hasfocus {
    border: 1px dashed blue;
  }
  
  .ui-checkbox-switch-box {
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    backround: white;
    overflow: hidden;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid darkturquoise;
    box-shadow: 0 1px 7px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.02);
    
    > .ui-checkbox-switch-c {
      line-height: 125%;
      height: 100%;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      position: absolute;
      text-decoration: inherit;
      width: 110%;
      height: 110%;
      background: darkturquoise;
      left: 110%;
      top: 110%;
      @include prefix(transform, scale(0.05));
      transition: left 0s, 
                  top 0s, 
                  opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, 
                  transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, 
                  -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    
    > .ui-checkbox-switch-c:before {
      color: white;
      font-weight: 500;
      content: "\f00c";
    }
  }
  
  &[as=primary] > .ui-checkbox-switch-box {
    border: 2px solid $colprimary;
    
    > .ui-checkbox-switch-c {
      background: $colprimary;
    }
  }

  &[as=secondary] > .ui-checkbox-switch-box {
    border: 2px solid $colsecondary;
    
    > .ui-checkbox-switch-c {
      background: $colsecondary;
    }
  }

  &[as=disabled] {
    @extend .ui-disabled;
    
    > .ui-checkbox-switch-box {
      border: 2px solid $coldisabled;
      
      > .ui-checkbox-switch-c {
        background: $coldisabled;
      }
    }
  }
  
  &[value=true] {
    > .ui-checkbox-switch-box {
        opacity: 1;
        box-shadow: 0 1px 7px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.12);
      > .ui-checkbox-switch-c {
        @include prefix(transform, scale(1));
        left: -5%;
        top: -5%;
        opacity: 1;
      }
    }
  }
  
  $ballsize: 50%;
  
  $ripplesize: 40px;
  
  @include ui(ripple) {
    position: absolute;
    height: $ripplesize;
    width: $ripplesize;
    top: calc(50% - #{$ripplesize/2});
    left: calc(50% - #{$ripplesize/2});
    transition: left 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}
@include ui(radio-group) {
  @extend .ui-general;
  position: relative;
  display: block;
  cursor: initial;
  width: initial;
  height: initial;
  margin:0;
  background: transparent;
  
  @include ui(radio-switch) {
    
    &.ui-hasfocus {
      border: 2px dashed blue;
    }
    
    @extend .ui-general;
    display: inline-block;
    z-index: 5;
    position: relative;
    padding: 11px;
    height: 22px;
    width: 22px;
    background: white;
    overflow: hidden;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid darkturquoise;
    box-shadow: 0 1px 7px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.02);
    
    &.ui-selected {
      box-shadow: 0 1px 7px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.12);
    }
    
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: darkturquoise;
      border-radius: 100%;
      margin: 0;
      padding: 0;
      top: 110%;
      left: 110%;
      @include prefix(transform, scale(0.05));
      transition: left 0s, 
                  top 0s, 
                  transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, 
                  -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    &.ui-selected:before {
      top: 0;
      left: 0;
      @include prefix(transform, scale(0.8));
    }
    
  }
  
  &[as=primary] > ui-radio-switch, &[as=primary] > .ui-radio-switch {
    border: 2px solid $colprimary;
    &.ui-hasfocus {
      border: 2px dashed blue;
    }
  }
  
  &[as=primary]> ui-radio-switch.ui-selected:before, &[as=primary] > .ui-radio-switch.ui-selected:before {
    background: $colprimary;
    &.ui-hasfocus {
      border: 2px dashed blue;
    }
  }
  
  &[as=secondary] > ui-radio-switch, &[as=secondary] > .ui-radio-switch {
    border: 2px solid $colsecondary;
    &.ui-hasfocus {
      border: 2px dashed blue;
    }
  }
  
  &[as=secondary] > ui-radio-switch.ui-selected:before, &[as=secondary] > .ui-radio-switch.ui-selected:before {
    background: $colsecondary;
  }
  
  &[as=disabled] {
    @extend .ui-disabled;
  }
  
  &[as=disabled] > ui-radio-switch.ui-selected:before, &[as=disabled] > .ui-radio-switch.ui-selected:before {
    background: gray;
  }
  
  &[as=disabled] > ui-radio-switch, &[as=disabled] > .ui-radio-switch {
    border: 2px solid gray;
    &.ui-hasfocus {
      border: 2px dashed blue;
    }
  }
}@include ui(toggle-switch) {
  @extend .ui-general;
  overflow: initial;
  border-radius: 100%;
  
  &.ui-hasfocus {
    border: 1px dashed blue;
  }
  
  @include ui(toggle-switch-bar) {
    position: absolute;
    top: 40%;
    left: 5%;
    height: 20%;
    width: 90%;
    background: darkturquoise;
    opacity: 0.5;
    border-radius: 5px;
  }
  
  &[as=disabled] {
    @extend .ui-disabled;
  }
  
  &[value=false] > .ui-toggle-switch-bar {
    background: gray;
  }
  
  &[value=true][as=primary] > .ui-toggle-switch-bar {
    background: lighten($colprimary, 10%);
  }
  
  &[value=true][as=secondary] > .ui-toggle-switch-bar {
    background: lighten($colsecondary, 10%);
  }
  
  &[value=true][as=disabled] > .ui-toggle-switch-bar {
    background: gray;
  }
  
  $ballsize: 50%;
  
  @include ui(toggle-switch-ball) {
    @extend .ui-blow-up-entry;
    position: absolute;
    height: $ballsize;
    width: $ballsize;
    top: #{50% - $ballsize/2};
    border-radius: 100%;
    background: cadetblue;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
  }
  
  $ripplesize: 40px;
  
  @include ui(ripple) {
    position: absolute;
    height: $ripplesize;
    width: $ripplesize;
    top: calc(50% - #{$ripplesize/2});
    left: calc(50% - #{$ripplesize/2});
    transition: left 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  
  &[value=false] {
    @include ui(ripple) {
      left: calc(#{6% + $ballsize/2} - #{$ripplesize/2});
    }
  }
  
  &[value=true] {
    @include ui(ripple) {
      left: calc(#{94% - $ballsize/2} - #{$ripplesize/2});
    }
  }
  
  &[value=false] > .ui-toggle-switch-ball {
    left: 6%;
    background: lighten(lightgray, 15%);
  }
  
  &[value=true] > .ui-toggle-switch-ball {
    left: #{94% - $ballsize};
    background: cadetblue;
  }
  
  &[value=true][as=primary] > .ui-toggle-switch-ball {
    background: darken($colprimary, 10%);
  }
  
  &[value=true][as=secondary] > .ui-toggle-switch-ball {
    background: darken($colsecondary, 10%);
  }
  
  &[as=disabled] > .ui-toggle-switch-ball {
    background: gray;
  }
}

.ui-toggle-switch ~ .ui-label,
.ui-toggle-switch ~ ui-label ,
ui-toggle-switch ~ .ui-label,
ui-toggle-switch ~ ui-label {
  line-height: 66px;
}